body {
    font-family: Garamond, serif;
    background-color: #023c1d;
    margin: 0;
    padding: 20px;
}

.title {
    text-align: center;
    color: #ffebf3;
}

.text {
    text-align: center;
    color: #ffebf3;
}