html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Garamond, serif;
    background-color: #023c1d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    text-align: center;
    color: #ffebf3;
}

.text {
    text-align: center;
    color: #ffebf3;
}