@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Inclusive+Sans:ital,wght@0,300..700;1,300..700&display=swap');

.inclusive-sans-regular {
    font-family: "Inclusive Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.aclonica-regular {
    font-family: "Aclonica", sans-serif;
    font-weight: 400;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #F0ECDC;
}

.welcome-screen {
    width: 100%;
    background-color: #F0ECDC;
    display: flex;
    justify-content: center;
}

.welcome-text {
    padding-top: 200px;
    padding-bottom: 200px;
    align-items: start;
}

.welcome-text h1 {
    font-family: "Aclonica", sans-serif;
    font-size: 60px;
    color: #1E1E24;
}

.welcome-text h2 {
    font-family: "Inclusive Sans", sans-serif;
    font-size: 50px;
    color: #1E1E24;
}

.welcome-text h3 {
    font-family: "Inclusive Sans", sans-serif;
    font-size: 28px;
    color: #1E1E24;
}

.welcome-screen video {
    width: 50%;
}  

hr {
    border-top: 2px solid #8AB488;
    margin-bottom: 20px;
}

.loop-container {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    border-radius: 7px;
    margin: 0;
    margin-bottom: 20px;
}
  
.loop-track {
    display: inline-block;
    white-space: nowrap;
    animation: carousel 20s linear infinite;
}
  
.loop-text {
    display: inline-block;
    font-family: "Aclonica", sans-serif;
    font-size: 32px;
    color: #0B5989;
    margin: 0;
    padding-right: 2rem;
}
  
@keyframes carousel {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
}

.info-section {
    display: flex;
    margin: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.section-title {
    display: flex;
    align-items: center;
}

.section-title img {
    width: 50px;
    height: 50px;
}

.section-title h1 {
    font-size: 48px;
    font-family: "Aclonica", sans serif;
    padding: 10px;
    color: #1E1E24;
    margin-top: 0;
    margin-bottom: 0;
}

.experience-section {
    width: 30%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    box-sizing: border-box;
}
  
.experience {
    width: 100%;
    max-width: 375px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: "Inclusive Sans", sans-serif;
    color: #1E1E24;
    box-sizing: border-box;
    padding: 10px 0;
    margin-left: 30px;
}
  
.experience h3 {
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 4px 0;
    text-align: left;
}
  
.experience h1 {
    font-size: 32px;
    font-weight: 400;
    margin: 0 0 4px 0;
    text-align: left;
}
  
.experience h2 {
    font-size: 24px;
    font-weight: 400;
    margin: 0 0 8px 0;
    text-align: left;
}
  
.experience p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    margin: 0;
    width: 100%;
    max-width: 361px;
}
  
.center-col {
    width: 30%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.education {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: "Inclusive Sans", sans-serif;
    color: #1E1E24;
    box-sizing: border-box;
    margin-left: 30px;
}
  
.education h3 {
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    text-align: left;
}
  
.education h1 {
    font-size: 32px;
    font-weight: 400;
    margin: 0;
    text-align: left;
  }
  
.education h2 {
    font-size: 24px;
    font-weight: 400;
    margin: 0;
    text-align: left;
}
  
.education p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    margin: 0;
    text-align: left;
}
  
.education p:nth-of-type(2) {
    margin-top: 10px;
    font-weight: 500;
}
  
.education ul {
    margin: 5px 0 0 20px;
    padding: 0;
    font-size: 16px;
    line-height: 1.5;
}
  
.education li {
    margin-bottom: 4px;
}
  
.contact {
    margin-top: 0;
    padding-top: 0;
    font-family: "Inclusive Sans", sans-serif;
    color: #1E1E24;
}

.contact-form {
    flex-direction: row;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 30px;
    margin-bottom: 20px;
}
  
.contact div img {
    width: 30px;
    height: 30px;
    border: 3px solid #77B1D4;
    border-radius: 50%;
    object-fit: cover;
}
  
.contact div p {
    font-size: 24px;
    margin: 0;
}

.contact a {
    text-decoration: none;
    color: #1E1E24;
}

.contact a:hover {
    color: #77B1D4;
}

.skills-section {
    width: 30%;
    padding: 20px;
    gap: 30px;
    box-sizing: border-box;
}
  
.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    max-width: 375px;
    font-family: "Inclusive Sans", sans-serif;
    color: #1E1E24;
    box-sizing: border-box;
    padding: 10px 0;
    margin-left: 30px;
}
  
.skills h2 {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 50px;
    font-family: "Aclonica", sans-serif;
    font-size: 24px;
    font-weight: 400;
    border: 3px solid #77b0d4c5;
    box-shadow: 0 4px 0 0 #77B1D4;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 0;
}

#more-skills {
    font-size: 20px;
    width: 100%;
    margin-top: 10px;
    margin-left: 50%;
}

.project {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-bottom: 50px;
    align-items: flex-start;
    padding: 50px;
}

.project-images { 
    display: flex; 
    flex-wrap: wrap; 
    width: 35%; 
    gap: 10px; 
    flex-shrink: 0;
} 

.project-images img { 
    width: 100%;
    aspect-ratio: 1 / 1;
    max-width: 200px;
    border-radius: 10px; 
    border: 3px solid #8AB488; 
    object-fit: cover; 
}

.project-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: "Inclusive Sans", sans-serif;
    margin-left: 25px;
}

.project-header {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 10px;
}

.project-number {
    font-family: "Aclonica", sans-serif;
    font-size: 128px;
    margin: 0;
    line-height: 1;
}

.star {
    width: 50px;
    height: 50px;
}

.project-title {
    font-family: "Aclonica", sans-serif;
    font-size: 48px;
    margin: 0;
}

.project-description {
    font-size: 18px;
    line-height: 1.5;
    margin: 10px 0;
}

.project-labels {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.project-labels h3 {
    background-color: #F0ECDC;
    padding: 5px 20px;
    border-radius: 50px;
    border: 2px solid #77B1D4;
    font-family: "Aclonica", sans-serif;
    font-size: 14px;
    margin: 0;
}

button {
    font-family: "Aclonica", sans-serif;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    transition: all 0.2s ease-in-out;
    background-color: #77b0d4d3;
    color: #F0ECDC;
    box-shadow: 0 4px 0 0 #77B1D4;
    margin-right: 20px;
}

button:hover {
    background-color: #0b5989ce;
    box-shadow: 0 4px 0 0 #0B5989;
}

.project-links {
    display: flex;
    margin: 15px 0;

}

.bottom-nav {
    width: 100%;
    background-color: #F0ECDC;
    border-top: 2px solid #8AB488;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 75%;
    padding: 10px 0;
    z-index: 100;
}

.bottom-nav img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.bottom-nav h3 {
    font-family: "Aclonica", sans-serif;
    font-size: 18px;
    color: #1E1E24;
    margin: 0;
    cursor: pointer;
    transition: color 0.2s;
}

.bottom-nav h3:hover {
    color: #77B1D4;
}

.bottom-nav a {
    text-decoration: none;
}
  
#temp-text {
    font-size: 48;
    font-family: "Inclusive Sans", sans serif;
    display: flex;
    justify-content: center;
    margin: 50px;
}
